.footer {
    &__container {
        display: flex;
        gap: 26px;
        flex-direction: column;
        padding: 51px 0px 54px 0px;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 35px;
    }

    &__copy {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
    }
}